Exercício 09: Uma fábrica de açúcar em Goiana (Pernambuco) sabe, por anos de dados 
históricos, que o desvio padrão do peso de um saco de açúcar de 1 kg é de 20 gramas. 
Uma amostra aleatória de 64 sacos de açúcar foi selecionada e o peso médio encontrado 
foi de 1010 gramas. Construa um intervalo de confiança de 90% para o verdadeiro peso 
médio dos sacos de açúcar produzidos pela fábrica.

---

In [20]:
import pandas as pd
import numpy as np

In [4]:
altura = pd.read_csv('/home/laza/estatistica-treina/aula_06/amostraPesoAltura.csv')

In [7]:
altura

    Index  Height(Inches)  Weight(Pounds)
0       1        65.78331       112.99250
1       2        71.51521       136.48730
2       3        69.39874       153.02690
3       4        68.21660       142.33540
4       5        67.78781       144.29710
5       6        68.69784       123.30240
6       7        69.80204       141.49470
7       8        70.01472       136.46230
8       9        67.90265       112.37230
9      10        66.78236       120.66720
10     11        66.48769       127.45160
11     12        67.62333       114.14300
12     13        68.30248       125.61070
13     14        67.11656       122.46180
14     15        68.27967       116.08660
15     16        71.09160       139.99750
16     17        66.46100       129.50230
17     18        68.64927       142.97330
18     19        71.23033       137.90250
19     20        67.13118       124.04490
20     21        67.83379       141.28070
21     22        68.87881       143.53920
22     23        63.48115        97.90191
23     24        68.42187       129.50270
24     25        67.62804       141.85010
25     26        67.20864       129.72440
26     27        70.84235       142.42350
27     28        67.49434       131.55020
28     29        66.53401       108.33240
29     30        65.44098       113.89220
30     31        69.52330       103.30160
31     32        65.81320       120.75360
32     33        67.81630       125.78860
33     34        70.59505       136.22250
34     35        71.80484       140.10150
35     36        69.20613       128.74870
36     37        66.80368       141.79940
37     38        67.65893       121.23190
38     39        67.80701       131.34780
39     40        64.04535       106.71150
40     41        68.57463       124.35980
41     42        65.18357       124.85910
42     43        69.65814       139.67110
43     44        67.96731       137.36960
44     45        65.98088       106.44990
45     46        68.67249       128.76390
46     47        66.88088       145.68370
47     48        67.69868       116.81900
48     49        69.82117       143.62150
49     50        69.08817       134.93250

In [14]:
media_altura = altura['Height(Inches)'].mean()
desvio_padrao = altura['Height(Inches)'].std()

In [16]:
altura['Height(Inches)'].describe()

count    50.000000
mean     68.052762
std       1.823818
min      63.481150
25%      66.939800
50%      67.868220
75%      69.176640
max      71.804840
Name: Height(Inches), dtype: float64

In [17]:
media_altura

np.float64(68.0527616)

In [18]:
desvio_padrao

np.float64(1.823818265890927)

In [21]:
erro_padrao = desvio_padrao / np.sqrt(50)

In [22]:
erro_padrao

np.float64(0.25792685269267285)

In [23]:
z = 1.645

In [24]:
inferior = media_altura - z*erro_padrao
superior = media_altura + z*erro_padrao

In [25]:
ic = (inferior,superior)

In [26]:
ic

(np.float64(67.62847192732055), np.float64(68.47705127267945))

In [27]:
altura['Height(Inches)'].mean()

np.float64(68.0527616)

In [28]:
populacao = pd.read_csv('/home/laza/estatistica-treina/aula_06/populacaoPesoAltura.csv')

In [29]:
populacao

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [30]:
populacao['Height(Inches)'].mean()

np.float64(67.99311359679999)

In [31]:
ic

(np.float64(67.62847192732055), np.float64(68.47705127267945))