In [1]:
import numpy as np

---

**Exercício 01 - Medidas de Dispersão**

Um analista de dados registrou o número de acidentes de trânsito por dia em um cruzamento movimentado da Avenida Agamenon Magalhães durante 10 dias: 

[2, 0, 1, 3, 2, 2, 0, 1, 2, 4]

a) Calcule a amplitude do número de acidentes

b) Calcule o desvio padrão amostral do número de acidentes

In [2]:
acidentes = [2, 0, 1, 3, 2, 2, 0, 1, 2, 4]

In [3]:
# Amplitude
np.ptp(acidentes)

np.int64(4)

In [4]:
# Desvio padrao
np.std(acidentes,ddof=1)

np.float64(1.2516655570345725)

---

**Exercício 02 - Medidas de Dispersão**

As notas de 8 alunos de uma turma de estatística da UFPE na primeira avaliação foram: 

[7.5, 8.0, 6.5, 9.0, 7.0, 8.5, 6.0, 7.5]

a) Calcule a variância populacional e amostral das notas

b) Calcule o intervalo interquartil (IIQ) das notas.

In [5]:
notas = [7.5, 8.0, 6.5, 9.0, 7.0, 8.5, 6.0, 7.5]

In [6]:
# Variancia populacional
np.var(notas, ddof=0)

np.float64(0.875)

In [7]:
# Variancia amostral
np.var(notas, ddof=1)

np.float64(1.0)

In [8]:
# Primeiro quartil
q1 = np.percentile(notas, 25)
q1

np.float64(6.875)

In [9]:
# Terceiro quartil
q3 = np.percentile(notas, 75)
q3

np.float64(8.125)

In [10]:
# INtervalo interquartil
iiq = q3 - q1
iiq

np.float64(1.25)

---
**Exercício 03 - Medidas de Dispersão**
Um pesquisador mediu a altura (em metros) de 12 coqueiros em uma praia de Porto de 
Galinhas: 

[15.2, 16.5, 14.8, 17.0, 15.5, 16.0, 15.8, 16.2, 15.0, 16.8, 17.5, 15.3]

a) Calcule o desvio padrão populacional das alturas usando NumPy.

b) Calcule o iiq das alturas usando Pandas

In [11]:
alturas = [15.2, 16.5, 14.8, 17.0, 15.5, 16.0, 15.8, 16.2, 15.0, 16.8, 17.5, 15.3]

In [12]:
# Desvio padrao populacional
np.std(alturas)

np.float64(0.8178562764256865)

In [13]:
import pandas as pd

In [14]:
# Intervalo interquartil
q1 = np.quantile(alturas, 0.25)
q3 = np.quantile(alturas, 0.75)

iiq = q3 - q1
iiq

np.float64(1.299999999999999)

---
**Exercício 04 - Medidas de Dispersão**
Os tempos de espera (em minutos) de 15 clientes em uma famosa tapiocaria do Mercado da 
Boa Vista foram: 

[3, 5, 2, 8, 4, 4, 6, 3, 5, 7, 9, 3, 5, 4, 6]

a) Crie uma Series do Pandas com esses dados.

b) Calcule a amplitude do tempo de espera usando Pandas 

c) Calcule o desvio padrão amostral do tempo de espera usando Pandas

d) Calcule o intervalo interquartil (IIQ) do tempo de espera usando Pandas

In [15]:
tempo = [3, 5, 2, 8, 4, 4, 6, 3, 5, 7, 9, 3, 5, 4, 6]

In [16]:
series_tempo = pd.Series(tempo)
series_tempo

0     3
1     5
2     2
3     8
4     4
5     4
6     6
7     3
8     5
9     7
10    9
11    3
12    5
13    4
14    6
dtype: int64

In [37]:
# Amplitude
amplitude_tempo = series_tempo.max() - series_tempo.min()
amplitude_tempo

np.int64(7)

In [18]:
# Desvio padrao
series_tempo.std()

np.float64(1.98086080374405)

In [19]:
# Intervalo interquartil
iiq = series_tempo.quantile(0.75) - series_tempo.quantile(0.25)
iiq

np.float64(2.5)

---
**Exercício 05 - Desafio**
Utilizando o dataset “temperaturas_recife2020.csv” calcule:

a) Média

b) Mediana

c) Moda

d) Amplitude

e) Variância populacional e amostral

f) Desvio padrão populacional e amostral

g) Q1, Q2, Q3 e IQQ

In [20]:
df = pd.read_csv('/home/pc-03/estatistica-treina/aula_02/temperaturas_recife2020.csv')

In [21]:
df.head

<bound method NDFrame.head of            Data  Temperatura_Media_C
0    2020-01-01                 27.5
1    2020-01-02                 27.8
2    2020-01-03                 27.9
3    2020-01-04                 27.7
4    2020-01-05                 27.6
..          ...                  ...
361  2020-12-27                 27.2
362  2020-12-28                 27.1
363  2020-12-29                 27.0
364  2020-12-30                 26.9
365  2020-12-31                 26.8

[366 rows x 2 columns]>

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Data                 366 non-null    object
 1   Temperatura_Media_C  366 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [23]:
df.columns

Index(['Data', 'Temperatura_Media_C'], dtype='object')

In [24]:
df.describe()

       Temperatura_Media_C
count           366.000000
mean             30.156284
std               1.577392
min              26.800000
25%              28.825000
50%              30.200000
75%              31.400000
max              33.000000

In [25]:
# Media
df['Temperatura_Media_C'].mean()

np.float64(30.156284153005465)

In [26]:
# Mediana
df['Temperatura_Media_C'].median()

np.float64(30.2)

In [27]:
# Moda
df['Temperatura_Media_C'].mode()

0     28.4
1     28.9
2     29.6
3     29.7
4     30.7
5     30.8
6     30.9
7     31.0
8     31.1
9     31.2
10    31.3
Name: Temperatura_Media_C, dtype: float64

In [28]:
# Amplitute
amplitude_temperatura = df['Temperatura_Media_C'].max() - df['Temperatura_Media_C'].min()
amplitude_temperatura

np.float64(6.199999999999999)

In [29]:
# Variancia amostral
df['Temperatura_Media_C'].var()

np.float64(2.4881658806796914)

In [30]:
# Variancia populacional
df['Temperatura_Media_C'].var(ddof=0)

np.float64(2.48136761324614)

In [31]:
# Desvio padrao amostral
df['Temperatura_Media_C'].std()

np.float64(1.5773921138003992)

In [32]:
# Desvio padrao populacional
df['Temperatura_Media_C'].std(ddof=0)

np.float64(1.5752357325956456)

In [33]:
# Primeiro quartil
q1 = df['Temperatura_Media_C'].quantile(0.25)
q1

np.float64(28.825)

In [34]:
# Segundo quartil
q2 = df['Temperatura_Media_C'].quantile(0.5)
q2

np.float64(30.2)

In [35]:
# Terceiro quartil
q3 = df['Temperatura_Media_C'].quantile(0.75)
q3

np.float64(31.4)

In [36]:
iiq = q3 - q1
iiq

np.float64(2.5749999999999993)