In [124]:
import pandas as pd

## Medidas de tendencia central

---

**Exercício 01:**

Dado o array de pontuações de 10 alunos em um teste: 

[75, 82, 90, 68, 78, 85, 92, 70, 76, 88], 

calcule:  

a) A média.  
b) A mediana. 

---

In [125]:
pontuacao = [75, 82, 90, 68, 78, 85, 92, 70, 76, 88]

In [153]:
df_pontuacao = pd.Series(pontuacao)

In [154]:
df_pontuacao

0    75
1    82
2    90
3    68
4    78
5    85
6    92
7    70
8    76
9    88
dtype: int64

In [155]:
df_pontuacao.mean()

np.float64(80.4)

In [156]:
df_pontuacao.median()

np.float64(80.0)

In [157]:
df_pontuacao.describe()

count    10.000000
mean     80.400000
std       8.329332
min      68.000000
25%      75.250000
50%      80.000000
75%      87.250000
max      92.000000
dtype: float64

---

**Exercício 02:**

Uma empresa registrou o número de unidades vendidas de um produto 
durante 7 dias: 

[25, 30, 28, 35, 32, 30, 27].

Calcule:  

a) A média.  
b) A moda usando pandas.

---

In [158]:
produtos = [25, 30, 28, 35, 32, 30, 27]

In [159]:
df_produtos = pd.Series(produtos)

In [160]:
df_produtos

0    25
1    30
2    28
3    35
4    32
5    30
6    27
dtype: int64

In [161]:
df_produtos.mean()

np.float64(29.571428571428573)

In [162]:
df_produtos.median()

np.float64(30.0)

In [163]:
df_produtos.describe()

count     7.000000
mean     29.571429
std       3.309438
min      25.000000
25%      27.500000
50%      30.000000
75%      31.000000
max      35.000000
dtype: float64

---

**Exercício 03:**

As idades de 15 participantes de um congresso em Porto de Galinhas são: 

[28, 35, 42, 28, 30, 35, 45, 28, 32, 38, 40, 35, 28, 31, 36]. 

Calcule:  

a) A moda usando numpy.  
b) A mediana.

---

In [164]:
idades = [28, 35, 42, 28, 30, 35, 45, 28, 32, 38, 40, 35, 28, 31, 36]

In [165]:
df_idades = pd.Series(idades)

In [166]:
df_idades

0     28
1     35
2     42
3     28
4     30
5     35
6     45
7     28
8     32
9     38
10    40
11    35
12    28
13    31
14    36
dtype: int64

In [167]:
df_idades.mode()

0    28
dtype: int64

In [168]:
df_idades.median()

np.float64(35.0)

In [169]:
df_idades.describe()

count    15.000000
mean     34.066667
std       5.457193
min      28.000000
25%      29.000000
50%      35.000000
75%      37.000000
max      45.000000
dtype: float64

---

**Exercício 04:**

O tempo de reação (em segundos) de 8 voluntários em um experimento foi: 

[0.25, 0.30, 0.28, 0.35, 0.26, 0.32, 0.29, 0.31]. 

Calcule:  

a) A média.  
b) A mediana

---

In [143]:
tempo = [0.25, 0.30, 0.28, 0.35, 0.26, 0.32, 0.29, 0.31]

In [144]:
df_tempo = pd.DataFrame(tempo)

In [145]:
df_tempo.mean()

0    0.295
dtype: float64

---

**Exercício 05:**

Uma pesquisa sobre o número de filhos por família em uma comunidade 
resultou nos seguintes dados: 

[2, 1, 3, 2, 0, 4, 2, 2, 1, 3]. 

Calcule:  

a) A média.  
b) A moda usando pandas.


---

In [170]:
filhos = [2, 1, 3, 2, 0, 4, 2, 2, 1, 3]

In [171]:
df_filhos = pd.Series(filhos)

In [172]:
df_filhos.mean()

np.float64(2.0)

In [173]:
df_filhos.mode()

0    2
dtype: int64

In [174]:
df_filhos.describe()

count    10.000000
mean      2.000000
std       1.154701
min       0.000000
25%       1.250000
50%       2.000000
75%       2.750000
max       4.000000
dtype: float64

---

**Exercício 06:**

Os preços (em reais) de um mesmo livro em 5 livrarias diferentes são: 
[45.50, 48.00, 46.20, 47.50, 46.20]. 

Calcule:  

a) A média.  
b) A mediana.  
c) A moda usando pandas.

---

In [146]:
precos = [45.50, 48.00, 46.20, 47.50, 46.20]

In [147]:
df_precos = pd.DataFrame(precos)

In [148]:
df_precos

      0
0  45.5
1  48.0
2  46.2
3  47.5
4  46.2

In [149]:
df_precos.mean()

0    46.68
dtype: float64

In [150]:
df_precos.median()

0    46.2
dtype: float64

In [151]:
df_precos.mode()

      0
0  46.2

In [152]:
df_precos.describe()

               0
count   5.000000
mean   46.680000
std     1.032957
min    45.500000
25%    46.200000
50%    46.200000
75%    47.500000
max    48.000000

---

**Exercício 07:**

Dado o array de alturas (em metros) de 12 plantas: 

[1.5, 1.8, 1.6, 2.0, 1.7, 1.8, 1.9, 1.6, 1.7, 1.8, 2.1, 1.7], 

calcule: 
 
a) A média.  
b) A moda usando pandas.

---

In [175]:
alt_plantas = [1.5, 1.8, 1.6, 2.0, 1.7, 1.8, 1.9, 1.6, 1.7, 1.8, 2.1, 1.7]

In [176]:
df_alt_plantas = pd.Series(alt_plantas)

In [177]:
df_alt_plantas.mean()

np.float64(1.7666666666666666)

In [179]:
df_alt_plantas.mode()

0    1.7
1    1.8
dtype: float64

In [180]:
df_alt_plantas.describe()

count    12.000000
mean      1.766667
std       0.172328
min       1.500000
25%       1.675000
50%       1.750000
75%       1.825000
max       2.100000
dtype: float64

---

**Exercício 08:**

O número de e-mails recebidos por um profissional durante 6 dias úteis foi: 

[15, 22, 18, 25, 20, 22]. 

Calcule:  

a) A média.  
b) A mediana.


---

In [181]:
emails = [15, 22, 18, 25, 20, 22]

In [183]:
df_emails = pd.Series(emails)

In [185]:
df_emails.mean()

np.float64(20.333333333333332)

In [184]:
df_emails.median()

np.float64(21.0)

In [186]:
df_emails.describe()

count     6.000000
mean     20.333333
std       3.502380
min      15.000000
25%      18.500000
50%      21.000000
75%      22.000000
max      25.000000
dtype: float64

---

**Exercício 09:**

As notas de um aluno em 7 disciplinas foram: 

[7.0, 8.0, 6.5, 9.0, 7.5, 8.5, 7.0]. 

Calcule:
  
a) A média.  
b) A moda usando pandas.

---

In [187]:
notas_alunos = [7.0, 8.0, 6.5, 9.0, 7.5, 8.5, 7.0]

In [188]:
df_notas_alunos = pd.Series(notas_alunos)

In [189]:
df_notas_alunos.mean()

np.float64(7.642857142857143)

In [190]:
df_notas_alunos.median()

np.float64(7.5)

In [191]:
df_notas_alunos.describe()

count    7.000000
mean     7.642857
std      0.899735
min      6.500000
25%      7.000000
50%      7.500000
75%      8.250000
max      9.000000
dtype: float64

---

**Exercício 10:**

Um estudo sobre a duração (em minutos) de chamadas telefônicas resultou 
nos seguintes dados: 

[3, 5, 2, 8, 4, 4, 6, 3, 5, 7]. 

Calcule:  

a) A média.  
b) A mediana.  
c) A moda usando numpy.

---

In [192]:
chamadas = [3, 5, 2, 8, 4, 4, 6, 3, 5, 7]

In [193]:
df_chamadas = pd.Series(chamadas)

In [194]:
df_chamadas.mean()

np.float64(4.7)

In [195]:
df_chamadas.median()

np.float64(4.5)

In [197]:
df_chamadas.mode()

0    3
1    4
2    5
dtype: int64

In [198]:
df_chamadas.describe()

count    10.000000
mean      4.700000
std       1.888562
min       2.000000
25%       3.250000
50%       4.500000
75%       5.750000
max       8.000000
dtype: float64

## Medidas de dispersao

---

**Exercício 11:**

Dado o array de temperaturas (em Celsius) registradas em uma semana em 
Recife: 

[28, 30, 29, 31, 28, 32, 30], 

calcule:
  
a) A amplitude.  
b) O desvio padrão.

---

In [200]:
temperaturas = [28, 30, 29, 31, 28, 32, 30]

In [202]:
df_temperaturas = pd.Series(temperaturas)

In [203]:
amplitude_temp = df_temperaturas.max() - df_temperaturas.min()
amplitude_temp

np.int64(4)

In [204]:
df_temperaturas.std()

np.float64(1.4960264830861911)

In [205]:
df_temperaturas.describe()

count     7.000000
mean     29.714286
std       1.496026
min      28.000000
25%      28.500000
50%      30.000000
75%      30.500000
max      32.000000
dtype: float64

---

**Exercício 12:**

Um cientista de dados coletou o número de cliques em um anúncio online 
durante 5 dias: 

[150, 165, 140, 170, 155]. 

Calcule:  

a) A variância.  
b) O desvio padrão. 


---

In [206]:
cliques = [150, 165, 140, 170, 155]

In [207]:
df_cliques = pd.Series(cliques)

In [208]:
df_cliques.var()

np.float64(142.5)

In [209]:
df_cliques.std()

np.float64(11.937336386313323)

In [210]:
df_cliques.describe()

count      5.000000
mean     156.000000
std       11.937336
min      140.000000
25%      150.000000
50%      155.000000
75%      165.000000
max      170.000000
dtype: float64

---

**Exercício 13:**

As alturas (em cm) de 8 jogadores de basquete de um time pernambucano 
são: 

[195, 202, 188, 205, 198, 200, 192, 203]. 

Calcule:  

a) O primeiro quartil (Q1).  
b) O terceiro quartil (Q3).  
c) O intervalo interquartil (IIQ).


---

In [211]:
alt_jogadores = [195, 202, 188, 205, 198, 200, 192, 203]

In [212]:
df_jogadores = pd.Series(alt_jogadores)

In [214]:
q1 = df_jogadores.quantile(0.25)

In [215]:
q3 = df_jogadores.quantile(0.75)

In [217]:
iiq = q3 - q1
iiq

np.float64(8.0)

---

**Exercício 14:**

O tempo de espera (em minutos) de 10 clientes em uma fila de banco em 
Boa Viagem foi: 

[5, 8, 3, 9, 6, 7, 4, 10, 5, 8]. 

Calcule:  

a) A mediana.  
b) O intervalo interquartil (IIQ).

---

In [218]:
espera = [5, 8, 3, 9, 6, 7, 4, 10, 5, 8]

In [219]:
df_espera = pd.Series(espera)

In [220]:
df_espera.quantile(0.5)

np.float64(6.5)

In [222]:
iiq = df_espera.quantile(0.75) - df_espera.quantile(0.25)
iiq

np.float64(3.0)

---

**Exercício 15:**

Uma pesquisa registrou o número de livros lidos por 12 pessoas em um ano: 

[2, 5, 1, 8, 3, 3, 6, 4, 2, 7, 4, 5]. 

Calcule:  

a) A média.  
b) O desvio padrão.

---

In [223]:
livros = [2, 5, 1, 8, 3, 3, 6, 4, 2, 7, 4, 5]

In [224]:
df_livros = pd.Series(livros)

In [225]:
df_livros.mean()

np.float64(4.166666666666667)

In [226]:
df_livros.std()

np.float64(2.1248885888797826)

In [227]:
df_livros.describe()

count    12.000000
mean      4.166667
std       2.124889
min       1.000000
25%       2.750000
50%       4.000000
75%       5.250000
max       8.000000
dtype: float64

---

**Exercício 16:**

Os salários (em milhares de reais) de uma amostra de 7 funcionários de uma 
startup em Porto Digital são: 

[3.5, 4.0, 3.8, 4.2, 3.6, 5.5, 3.9]. 

Calcule:
  
a) A média.  
b) O desvio padrão amostral (use a correção de Bessel).


---

In [228]:
salarios = [3.5, 4.0, 3.8, 4.2, 3.6, 5.5, 3.9]

In [229]:
df_salarios = pd.Series(salarios)

In [230]:
df_salarios.mean()

np.float64(4.071428571428571)

In [233]:
df_salarios.std(ddof=0)

np.float64(0.6226998490772391)

In [232]:
df_salarios.describe()

count    7.000000
mean     4.071429
std      0.672593
min      3.500000
25%      3.700000
50%      3.900000
75%      4.100000
max      5.500000
dtype: float64

---


**Exercício 17:**

Dado o array de notas de um aluno em 6 provas: 
[7.0, 8.5, 6.5, 9.0, 7.5, 8.0], 

calcule:  


a) A amplitude.  
b) A variância amostral (use a correção de Bessel). 

---

In [234]:
notas_new = [7.0, 8.5, 6.5, 9.0, 7.5, 8.0]

In [235]:
notas_alunos_series = pd.Series(notas_new)

In [237]:
amplitude = notas_alunos_series.max() - notas_alunos_series.min()
amplitude

np.float64(2.5)

In [238]:
notas_alunos_series.var(ddof=0)

np.float64(0.7291666666666666)

In [239]:
notas_alunos_series.describe()

count    6.000000
mean     7.750000
std      0.935414
min      6.500000
25%      7.125000
50%      7.750000
75%      8.375000
max      9.000000
dtype: float64

---

**Exercício 18:**

Um analista financeiro monitorou o retorno percentual de um investimento 
durante 5 meses: 

[1.2, 0.8, 1.5, -0.5, 1.0]. 

Calcule:  

a) O desvio padrão.

---

In [240]:
investimento = [1.2, 0.8, 1.5, -0.5, 1.0]

In [241]:
investimento_series = pd.Series(investimento)

In [242]:
investimento_series.std()

np.float64(0.7713624310270756)

In [243]:
investimento_series.describe()

count    5.000000
mean     0.800000
std      0.771362
min     -0.500000
25%      0.800000
50%      1.000000
75%      1.200000
max      1.500000
dtype: float64

---

**Exercício 19:**

As idades de 9 participantes de um grupo de estudo são: 

[22, 25, 28, 21, 30, 24, 26, 23, 27]. 

Calcule:  

a) A mediana.  
b) O primeiro e o terceiro quartis.  
c) O intervalo interquartil (IIQ).

---

In [244]:
idades_est = [22, 25, 28, 21, 30, 24, 26, 23, 27]

In [245]:
idades_est_series = pd.Series(idades_est)

In [246]:
idades_est_series.median()

np.float64(25.0)

In [248]:
q1 = idades_est_series.quantile(0.25)
q1

np.float64(23.0)

In [249]:
q3 = idades_est_series.quantile(0.75)
q3

np.float64(27.0)

In [251]:
iiq = q3 - q1
iiq

np.float64(4.0)

---

**Exercício 20:**


Um sensor registrou as seguintes leituras de pressão (em PSI): 

[10.2, 10.5, 9.8, 10.7, 10.0, 10.3, 10.1]. 

Calcule:  

a) A variância populacional (assuma que esses são todos os registros relevantes).  
b) O desvio padrão populacional. 

---

In [252]:
pressao = [10.2, 10.5, 9.8, 10.7, 10.0, 10.3, 10.1]

In [253]:
pressao_series = pd.Series(pressao)

In [254]:
pressao_series.var()

np.float64(0.09238095238095219)

In [255]:
pressao_series.std()

np.float64(0.3039423504234844)

In [256]:
pressao_series.describe()

count     7.000000
mean     10.228571
std       0.303942
min       9.800000
25%      10.050000
50%      10.200000
75%      10.400000
max      10.700000
dtype: float64